.contactos {
  font-size: 21;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 24px; }

.boton-abajo {
  margin: 0 0 400px 0; }

.texto-formulario {
  font-weight: bold;
  margin-left: 15px;
  color: #fff; }

.texto-sorteo {
  font-weight: bolder;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.imagenes_pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; }

body {
  background-image: url(../img/arg.png);
  background-repeat: no-repeat;
  background-size: cover; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

nav {
  background: black;
  height: 80px;
  width: 100%; }

.enlace {
  position: absolute;
  padding: 20px 50px; }

nav ul {
  display: flex;
  justify-content: center;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase; }

li a.active, li a:hover {
  background: #000090;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.videos {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: row;
  justify-content: space-evenly; }

.cuadrado1 {
  margin: 0 10px 0 0; }

.Messi_Titulo {
  color: black;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center; }

.imagen_inicio {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }

.imagen-fondo {
  background-image: url("../../img/arg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.Titulos {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center; }

.prueba_parrafo {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.boton-inicio {
  background: black;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  color: #fff;
  font-size: 19px;
  padding: 7px 13px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: .5s; }
