body{
    background-image: url(../img/arg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background: black;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.videos{
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    justify-content: space-evenly;
}
    
.cuadrado1{
    margin: 0 10px 0 0;
}

.Messi_Titulo{
    color: black;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.imagen_inicio{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}



  