
.imagen-fondo{
    background-image: url("../../img/arg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Titulos{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.prueba_parrafo{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.boton-inicio{
    background: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    color: #fff;
    font-size: 19px;
    padding: 7px 13px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: .5s;
}