
.imagen-fondo{
    background-image: url("../../img/arg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Titulos{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.prueba_parrafo{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    
}

.boton-inicio{
    background: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    color: #fff;
    font-size: 19px;
    padding: 7px 13px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: .5s;
}


/* responsive en inicio */
@media (max-width: 425px){
    .Titulos{
        text-decoration: underline;
        font-weight: bold;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    .prueba_parrafo{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        margin-left: 10px;
        
    }
   .boton-inicio{
        display: inline-flex;
        padding: 0 40% 0;
        background-color: black;
        color: #fff;
        text-align: left;
    }
}

@media (max-width: 768px){
    .Titulos{
        text-decoration: underline;
        font-weight: bold;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    .prueba_parrafo{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        margin-left: 22px;
        text-align: left;
    }
    .boton-inicio{
        display: inline-flex;
        padding: 0 40% 0;
        background-color: black;
        color: #fff;
        text-align: center;
        font-size: 18px;
    }
}

@media (max-width: 1024px){
    .Titulos{
        text-decoration: underline;
        font-weight: bold;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    .prueba_parrafo{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        justify-content: center;
        margin-left: 70px;
        width: 850px;
    }
    .boton-inicio{
        display: inline-flex;
        padding: 0 42% 0;
        background-color: black;
        color: #fff;
        text-align: center;
        font-size: 19px;
    }
}